<!doctype html>
<html ng-app="gztr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="search.js"></script>
  </head>
  <body>
    <div ng-controller="SearchController as search">
      <input type="text" ng-model="search.query" 
      	placeholder="Address..." style="width: 100%; height: 25px;">
      <div>{{search.result.parsed_query}}</div>
      Prefix <input type="checkbox" ng-model="search.prefix"></input>
      <hr>
      <div style="margin-top: 10px;" ng-repeat="row in search.result.rows">
      	<div>
      		<div ng-bind="row.full_text"></div>
      		<div>
      		<span ng-bind="row.rank"></span>
      		<a href="{{link4OSMId(row.osm_id)}}" ng-bind="row.osm_id"></a>
			<span ng-bind="row.base_weight"></span>
      		<span>Matched Queries: <span ng-repeat="mq in row.matched_queries">{{mq}} </span></span>
      		</div>
      	</div>
      </div>
      <div ng-if="search.result">
      	Trim at: {{search.result.trim}} 
      	Total hits: {{search.result.total_hits}} 
      	Answer in: {{search.result.answer_time}}ms 
      	Query time {{search.result.query_time}}ms</div>
      <div style="font-size: 10px;" ng-show="search.result">
      	<div ng-click="queryVisibility = !queryVisibility" ng-bind="queryVisibility ? 'Hide query' : 'Show query'"></div>
      	<pre ng-show="queryVisibility">{{search.result.debug_query_json | json}}</pre>
      </div>
    </div>
  </body>
</html>