<!doctype html>
<html ng-app="gztr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
		<script src="search.js"></script>
		<style>
			.hilighted {
				background-color: #999;
			}
		</style>
  </head>
  <body>
    <div ng-controller="SearchController as search">
      <input type="text" ng-model="search.query" 
      	placeholder="Address..." style="width: 100%; height: 25px;">
      <div>{{search.result.parsed_query}}</div>
      <div ng-if="search.result.matched_poi_classes">{{search.result.matched_poi_classes}}</div>
      <label>Prefix<label><input type="checkbox" ng-model="search.prefix"></input>
			<label>Trim<label><input type="checkbox" ng-model="search.trim"></input>
			<label>Coallesce<label><input type="checkbox" ng-model="search.coallesce"></input>
      <label>Lat/Lon<label><input ng-model="search.latlon"></input><button ng-click="geolocate()">locate</button>
      <hr>
      <div style="margin-top: 10px;" ng-repeat="row in search.result.rows | trim: search.result.trim : search.trim">
      	<div>
      		<div ng-if="row.name" ng-bind="row.name"></div>
      		<div ng-if="row.poi_class">
      			<span ng-repeat="poi_class in row.poi_class" ng-bind="poi_class"></span>
      		</div>
      		<div ng-bind="row.address.text"></div>
      		<div>
	      		<span ng-bind="row.rank"></span>
	      		<a href="{{link4OSMId(row.osm_id)}}" ng-bind="row.osm_id"></a>
				<span ng-bind="row.base_weight"></span>
	      		<span>Matched Queries: <span ng-repeat="mq in row.matched_queries">{{mq}} </span></span>
      		</div>
      	</div>
      </div>
      <div ng-if="search.result">
      	Trim at: {{search.result.trim}} 
      	Total hits: {{search.result.total_hits}} 
      	Answer in: {{search.result.answer_time}}ms 
      	Query time {{search.result.query_time}}ms</div>
      <div style="font-size: 10px;" ng-show="search.result">
      	<div ng-click="queryVisibility = !queryVisibility" ng-bind="queryVisibility ? 'Hide query' : 'Show query'"></div>
      	<div ng-show="queryVisibility" style="display:flex;">
					<div ng-repeat="obj in [search.result.debug_query_data]" style="flex: 0 1;">
						<div ng-include="'subquery.html'"></div>
					</div>
					<div style="flex: 1 1;">
						<pre>{{search.debug.subquery | json}}</pre>
						<div ng-repeat="hit in search.debug.data.hits">
							{{hit}}
						</div>
					</div>
      		<!-- <pre>{{search.result.debug_query_data | json}}</pre> -->
      	</div>
      </div>
		</div>
		
		<script type="text/ng-template"  id="subquery.html">
			<div ng-if="isObject(obj)" style="padding-left: 10px;">
				<div ng-repeat="(k, v) in obj" ng-init="folded = isFolded(k);">
					<span ng-bind="k" style="font-weight: bold;" ></span>
					
					<button ng-if="isQuery(k)" ng-click="debugQ(k,v)">debug</button> 
					
					<span ng-bind="v" ng-if="isPrimitive(v)"></span>
					<a ng-show="isFolded(k)" ng-click="folded = !folded">{{folded ? 'show' : 'hide'}}</a>
					<div ng-hide="folded" ng-repeat="obj in [v]" ng-include="'subquery.html'"></div>
				</div>
			</div>

			<div ng-if="isArray(obj)">
				<div ng-repeat="obj in obj">
					<span ng-if="isPrimitive(obj)" ng-bind="obj" style="padding-left: 10px;"></span>
					<div ng-if="!isPrimitive(obj)" ng-include="'subquery.html'" style="padding-left: 10px;"></div>
			  </div>
			</div>

		</script>
  </body>
</html>